<div id="mealCarousel" data-controller="meal-plan" class="carousel slide">
  <!-- Carousel Indicators -->
  <div class="carousel-indicators">
    <% meal_plan.meals.order(:date).each_with_index do |m, index| %>
      <button type="button" data-bs-target="#mealCarousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if m == meal_plan.meals.order(:date).first %>" aria-current="true" aria-label="<%= m.recipe.name %>"></button>
    <% end %>
  </div>

  <!-- Carousel Items -->
  <div class="carousel-inner">
    <% meal_plan.meals.order(:date).each do |m| %>
      <div class="carousel-item <%= 'active' if m == meal_plan.meals.order(:date).first %>">
        <% if m.recipe.image.attached? %>
          <img src="<%=(url_for(m.recipe.image))%>" class="d-block w-100" alt="<%= m.recipe.image.filename %>">
        <% else %> 
          <img src="https://placehold.co/600x400/orange/white" class="d-block w-100">
        <% end %>

        <!-- Carousel Caption -->
        <div class="carousel-caption d-block text-dark bg-light p-3" style="opacity: 0.8; max-width: 75%;">
          <h5 class="mb-0"><%= m.to_s %></h5>
          <p class="mb-0"><%= m.recipe.name %></p>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#mealCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mealCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style>
/* Media query for mobile devices */
@media (max-width: 576px) {
  .carousel-caption {
    max-width: 90%;
  }
}
</style>
