
<%= form_for @meal_plan, html: { class: "form-horizontal" } do |form| %>
  <%= error_messages_for(form.object) %>
  <% if @meal_plan.id.present? then %>
    <div class="form-group">
      <%= form.label :start_date %>
      <%= form.text_field :start_date, type: "date", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :end_date %>
      <%= form.text_field :end_date, type: "date", class: "form-control" %>
    </div>
  <% else %>
    <%= form.hidden_field :start_date %>
    <%= form.hidden_field :end_date %>
  <% end %>



  <div class="meals">

    <div class="pt-2 row align-items-center">
      <div class="col-auto">
        <h3>Meals</h3>
      </div>
      <div class="col-auto">
        <%= button_tag("Add Meal", {
          class:'btn btn-sm btn-outline-primary',
          data: {
            controller: "nested-fields", 
            association: "meals" ,
            countclass: "meal-recipe",
            action: "click->nested-fields#addField", 
            content: form.fields_for(:meals, Meal.new, child_index:"NEW_RECORD") {|meal_form| render("meal", meal_fields: meal_form) }
          }
        }) do %>
          <i class="fa-regular fa-square-plus"></i>
        <% end %>
      </div>
    </div>

    <div id="meals" >

      <%= form.fields_for :meals, @meal_plan.meals.order(:date) do |meal_fields| %>
          <%= render 'meal', meal_fields: meal_fields %>        
        <% end %>
    </div>
  </div>
<br >
  <div class="form-group">
    <div class="col-sm-11 col-sm-offset-1">
      <%= form.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
<hr>