<p style="color: green"><%= notice %></p>

<% content_for :title, "Meal plans" %>

<h1>Meal plans</h1>

<div class="container-fluid">

    <div class="d-flex justify-content-end">
    <%= link_to("Add New Meal Plan", new_meal_plan_path, class: 'action new btn btn-primary float-end') %>
  </div>
  
  <% @meal_plans.each do |meal_plan| %>
    <div class="nested-fields p-2 g-col-12">
      <div class="form-group border p-2 row justify-content-start">
        <h4><%= link_to meal_plan.to_s, meal_plan %></h4>
        <%= render(partial: "meal_plan_carousel", locals: {meal_plan: meal_plan}) %>
        <p>
          <%= link_to "Show this meal plan", meal_plan %>
        </p>
      </div>
  </div>
    <% end %>
</div>
