<%= error_messages_for(f.object) %>
<table summary="Task form fields">
    <tr>
        <th>Name</th>
        <td>
            <%= f.text_field(:name) %>
        </td>
    </tr>
    <tr>
        <th>Position</th>
        <td>
            <%= f.text_field(:position) %>
        </td>
    </tr>
    <tr>
        <th>Completed</th>
        <td>
            <%= f.check_box(:completed) %>
        </td>
    </tr>
    <tr>
        <th>Description</th>
        <td>
            <%= f.text_area(:description) %>
        </td>
    </tr>
    <tr>
        <th>Category</th>
        <td>
            <%= collection_select(:task, :category_id, Category.order(:name), :id, :name, prompt: true) %>
        </td>
    </tr>
    <tr>
        <th>Tags</th>
        <th>
            <%= form_for( @task) do |t| %>
            <%= t.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
            <% end %>
        </th>
    </tr>
</table>