<% if recipe.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

    <ul>
      <% recipe.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <div id="<%= dom_id recipe %>" class="container">

  <%= form_with(model: recipe) do |form| %>
  
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :servings %>
        <%= form.number_field :servings, class: 'form-control' %>
      </div>
    </div>      
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :category_id %>
        <%= collection_select(:recipe, :category_id, Category.order(:name), :id, :name, {prompt: true}, {class: 'form-control my-custom-class'}) %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <%= form.label :instructions %>
        <%= form.text_area :instructions, class: 'form-control', rows:10 %>
      </div>
    </div>
      <!-- Other recipe fields go here -->
    <div class="col-12">
      <div class="form-group">
        <%= form.label :image %>
          <% if @recipe.image.attached? %>
            <div>
              <img src="<%=(url_for(@recipe.image))%>" width="100px"/>
            </div>
            <% end %>
            <%= form.file_field :image, class: 'form-control' %>
      </div>
    </div>
  </div>    
  
    <div class="pt-2 row align-items-center">
      <div class="col-auto">
        <h3>Ingredients</h3>
      </div>
      <div class="col-auto">
        <%= button_tag("Add Ingredient", {
          class:'btn btn-sm btn-outline-primary',
          data: {
            controller: "nested-fields",
            countclass: "recipe-ingredient",
            association: "ingredients" ,
            action: "click->nested-fields#addField", 
            content: form.fields_for(:recipe_ingredients, RecipeIngredient.new(order: "NEW_ORDER"), child_index:"NEW_RECORD") {|recipe_ingredient_form| render("recipe_ingredient_fields", f: recipe_ingredient_form) }
          }
        }) do %>
          <i class="fa-regular fa-square-plus"></i>
        <% end %>
      </div>
    </div>
  
    <div id="ingredients" class="grid gap-0 row-gap-3">
      <%= form.fields_for :recipe_ingredients, @recipe.recipe_ingredients.order(:order) do |recipe_ingredient_form| %>
        <%= render 'recipe_ingredient_fields', f: recipe_ingredient_form %>
        
      <% end %>
    </div>
    
    <br>
    
    <div class="form-group row">
      <div class="offset-4 col-8">
        <%= form.submit("Save recipe", :class=> "btn btn-success") %>
      </div>
    </div>
  
  
  <% end %>
</div>
