
<div class="categories show">
  <h2>Show Category</h2>

  
  <div class="container-fluid">
    <div class="d-flex justify-content-end">
    
      <%= link_to("Edit", edit_category_path(@category), class: 'action edit btn btn-primary') %>
      <%= link_to("Delete", delete_category_path(@category), class: 'action delete btn btn-danger') %>
    </div>
    
    <table class="table table-striped">    
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td scope="row"><%= @category.name %></td>
        </tr>
        <tr>
          <th scope="row">Tasks</th>
          <td  scope="row">
            <% @category.tasks.each do |task| %>
              <%= task.name %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">Created</th>
          <td scope="row"><%= @category.created_at %></td>
        </tr>
        <tr>
          <th scope="row">Updated</th>
          <td scope="row"><%= @category.updated_at %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>