<nav class="navbar navbar-expand-md sticky-top bg-body-tertiary">
    <div class="container-fluid">
      <div class="nav-brand">Meal Planner</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuToggler" aria-controls="menuToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menuToggler">
        <ul class="navbar-nav me-auto mb-0 ">
          <li class="nav-item">
            <%= active_link_to 'Meals', meal_plans_path, active: :inclusive, class: "nav-link" %>
        </li>
          <li class="nav-item">
            <%= active_link_to 'Tasks', tasks_path, active: :inclusive, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><%= active_link_to 'Categories', categories_path, active: :inclusive, class: "dropdown-item" %></li>
            <li><%= active_link_to 'Recipes', recipes_path, active: :inclusive, class: "dropdown-item" %></li>
            <li><%= active_link_to 'Ingredients', ingredients_path, active: :inclusive, class: "dropdown-item" %></li>
            <li><%= active_link_to 'Quantity Units', quantity_units_path, active: :inclusive, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= active_link_to 'About', {controller: "main", action: "about"}, active: :inclusive, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item">
        </li>
        <li class="nav-item">
            
          </li>
        </ul>
        <div class="d-flex">
          <span class="navbar-text" style="padding-right: 10px;">User: <%= @username %>  </span>
          <button class="btn btn-outline-success" type="submit">Logout</button>
        </div>
      </div>
    </div>
  </nav>