<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager<%= ' - ' + yield(:title) if content_for?(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:script) %>
  </head>

  <body>
    <%= render(partial: "layouts/navigation") %>
    <div id="content" class="container-fluid">
      <%= render(partial: "layouts/flash") %>
      <%= yield %>
    </div>
    <nav class="navbar bottom bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Copyright @2024</a>
      </div>
    </nav>
  </body>
</html>
